version: 2
jobs:
    build:
        working_directory: ~/pubnative/pubnative-hybid-ios-sdk
        shell: /bin/bash --login -o pipefail
        macos:
            xcode: "11.2.0"
        steps:
            - checkout
            - restore_cache:
                key: 1-gems-{{ checksum "Gemfile.lock" }}
            - run:
                name: Export Env
                command: echo -e "export RAILS_ENV=test\nexport RACK_ENV=test"\nexport LC_ALL=en_US.UTF-8\nexport LC_ALL=en_US.UTF-8 >> $BASH_ENV
            - run:
                name: Bundle Install
                command: bundle check || bundle install
                paths:
                    - vendor/bundle
                enviroment:
                    BUNDLE_JOBS: 4
                    BUNDLE_RETRY: 3
            - save_cache:
                key: 1-gems-{{ checksum "Gemfile.lock" }}
                paths:
                    - vendor/bundle
            - run:
                name: Check Bundle Versions
                command: bundle list
            - run:
                name: Install Firebase CLI
                command: curl -sL firebase.tools | bash
            - run:
                name: Create CircleCI Artifacts Directory
                command: mkdir -p /tmp/circleci-artifacts
            - run:
                name: Create CircleCI Test Results Directory
                command: mkdir -p /tmp/circleci-test-results
            - run:
                name: List Schemes
                command: xcodebuild -project PubnativeLite/HyBid.xcodeproj -list
            - run:
                name: Xcode Build and Run Tests
                command: xcodebuild
                            -project PubnativeLite/HyBid.xcodeproj
                            -scheme HyBid
                            -destination 'platform=iOS Simulator,OS=12.2,name=iPhone 8'
                            clean test
                            | tee /tmp/circleci-artifacts/test_xcodebuild.log
                            | xcpretty
                                -c
                                -r junit --output /tmp/circleci-test-results/junit.xml
                                -r html --output /tmp/circleci-test-results/report.html
                                -r json-compilation-database --output /tmp/circleci-artifacts/test_compilation_database.json
            - deploy:
                name: Generate framework
                command: |
                    if [ "${CIRCLE_BRANCH}" == "master" ] || [ "${CIRCLE_BRANCH}" == "beta" ] || [ "${CIRCLE_BRANCH}" == "development" ] || [ "${CIRCLE_BRANCH}" == "development-genericAdSizes" ]; then
                      PubnativeLite/Scripts/generate.sh
                    fi
            - deploy:
                name: Publish to Firebase
                command: |
                    if [ "${CIRCLE_BRANCH}" == "master" ] || [ "${CIRCLE_BRANCH}" == "beta" ] || [ "${CIRCLE_BRANCH}" == "development" ] || [ "${CIRCLE_BRANCH}" == "development-genericAdSizes" ]; then
                      PubnativeLite/Scripts/publish.sh
                    fi
            - store_test_results:
                path: /tmp/circleci-test-results
            - store_artifacts:
                path: /tmp/circleci-artifacts
            - store_artifacts:
                path: /tmp/circleci-test-results
